.info-tip {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.16;
    text-align: center;
    padding: 0 70px;
}

@media screen and (max-width: 414px) {

    .info-tip {
        font-size: 15px;
        padding: 0 10px;
    }
    
  }