.nav-tab{
    background-color: #272727;
    display: flex;
    justify-content: center;
    padding: 24px 0;
    gap: 40px;
}

.nav-tab__link {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.23;
    transition: opacity .1s linear;
}

.nav-tab__link:hover {
    opacity: .5;
}


@media screen and (max-width: 414px) {

    .nav-tab{
        gap: 24px;
    }

    .nav-tab__link {
        font-size: 11px;
    }

}